{% extends 'layout/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">{% endblock %}
{% block content %}
<div class="container">
    <div class="card bg-light mb-3">
        <div class="card-header">Авторизация</div>
        <div class="card-body">
            <form action="{% url 'authen' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
<!--                <div class="mb-3">-->
<!--                    <label for="exampleInputEmail1" class="form-label">Имя пользователя</label>-->
<!--                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"-->
<!--                        placeholder="Имя пользователя">-->
<!--                </div>-->
<!--                <div class="mb-3">-->
<!--                    <label for="exampleInputPassword1" class="form-label">Пароль</label>-->
<!--                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль">-->
<!--                </div>-->
                <div class="auth">
                    <button type="submit" class="btn btn-dark">Авторизоваться</button>
                    <p>Забыли пароль?</p>
                </div>
            </form>
            <div class="card_footer">
                <p>Нет аккаунта? <a href="{% url 'register' %}">Регистрация</a></p>
            </div>
            {% if form.non_field_errors %}
            <p>{{ form.non_field_errors }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}