{% extends 'layout/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    {% for category in categories %}
    <div class="card_margin">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <div class="card_with_context">
                    <h5 class="card-title">{{ category.name }}</h5>
                    <p class="card-text">{{ category.description }}</p>
                    <a href="{% url 'paginator' category.id 1  %}" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

